
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Mi App Flask{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Mi Aplicación Flask</h1>
        <nav>
            <a href="/">Inicio</a> |
            <a href="/pagina1">Tecnologías</a> |
            <a href="/pagina2">Usuarios</a>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
